.footer-container{
    background-color: #76c7ad;
    justify-items: center;
    padding: 35px;
    height: 100%;
}


.footer-message{
      background-color: #76c7ad;
      display: flex;
    padding: 35px;
    height: 100%;
    justify-content: center;
}