.add-form{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #e5771f;
    padding: 20px;
    justify-content: center;
}



.add-form h3{
    font-size: 16px;
    color: #5a3e2b;
}


.form-select{
    display: flex;
    gap: 20px;
}


.num-select{
    padding: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 1px solid;
    border-radius: 25px;
    background-color: #ffebb3;
    color: #5a3e2b;
}

.name-item{
    padding: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    border: none;
    background-color: #ffebb3;
    color: #5a3e2b;
}

.add-button{
    background-color: rgb(186, 244, 244);
    padding: 20px;
    border-radius: 20px;
    padding-top: 8px;
    font-weight: 600;
    padding-bottom: 8px;
    color: #5a3e2b;
    border: none;
}

.add-button:hover{
    cursor: pointer;
}