.navbar-container{
    border: 1px solid;
    padding: 20px;
    justify-items: center;
    background-color: orange;
}

.nav-logo h1{
      text-align: center;
  background-color: #f4a226;
  font-family: "Monoton";
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 10px;
}